<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <connectionStrings>
    <add name="MedicalCenterDB" 
         connectionString="Server=LAPTOP-NBIE2FN7\SQLEXPRESS;Database=CentreMedical;User Id=amina;Password=aminakounieya14;TrustServerCertificate=True;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

<appSettings>
    <!-- Replace with your actual Gmail SMTP settings -->
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpUsername" value="aminakouni14@gmail.com"/>
    <add key="SmtpPassword" value="hpnldhsmdqxcvyta"/> <!-- Paste your generated app password here (remove spaces) -->
    <add key="EnableSsl" value="true"/>
    <add key="FromEmail" value="aminakouni14@gmail.com"/>
    <add key="FromName" value="Medical Center"/>
  </appSettings>
</configuration>